[submodule "imap-unread-git"]
	path = imap-unread-git
	url = git://github.com/jwiegley/imap-unread.git
[submodule "linkdups-git"]
	path = linkdups-git
	url = git://github.com/jwiegley/linkdups.git
[submodule "pyp-git"]
	path = pyp-git
	url = http://pyp.googlecode.com/svn/trunk
[submodule "sshify-git"]
	path = sshify-git
	url = git://github.com/jwiegley/sshify.git
[submodule "una-git"]
	path = una-git
	url = ../haskell
[submodule "lipotell-git"]
	path = lipotell-git
	url = git://github.com/jwiegley/lipotell.git
